.contact__container {
  max-width: 600px;
  line-height: 30px;
}

.contact__container input {
  padding: 0.7rem;
  border-radius: 7px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
}

.contact__container input:first-child {
  width: 100%;
}
.contact__container input::placeholder {
  color: rgb(236, 75, 54);
}

.contact__container textarea::placeholder {
  color: rgb(236, 75, 54);
}

.contact__container textarea {
  resize: none;
  border-radius: 7px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
}

.contact__container button {
  padding: 0.5rem;
  border-radius: 40px;
  width: 6rem;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  background-color: rgb(28, 28, 143);
  margin-top: 0.5rem;
  font-weight: 600;
}

.contact__container button:hover {
  background-color: rgb(236, 75, 54);
}
