.banner__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(18, 18, 124);
  min-height: 5vh;
  color: #fff;
  flex-wrap: wrap;
}

.banner__column {
  display: flex;
  gap: 20px;
  margin-left: 2rem;
}

.banner__column div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav {
  display: flex;
  color: #000;
  /* padding-bottom: 30px; */
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  user-select: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  background: transparent;
  opacity: 1;
}

.nav1 {
  display: flex;
  background:rgba(255,255,255, 0.9);;
  color: #000;
  /* padding-bottom: 30px; */
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  user-select: none;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.nav__logo h1 {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: rgb(28, 28, 143);
}

.nav__items ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  cursor: pointer;
  width: 800px;
  color: rgb(28, 28, 143);
}

 .nav__items ul li {
  flex-wrap: wrap;
  font-weight: 600;
}

.nav__items ul li:hover {
  background-color: whitesmoke;
  /* color: black; */
  padding: .7rem;
  border-radius: 10px;
}

.banner__icons {
  display: flex;
  gap: 10px;
  margin-right: 2rem;
}

/* image slider */
.each__fade {
  /* width: 50%; */
  position: relative;
}

.each__fade > .image__container {
  height: 70vh;
  width: 100%;
}

.each__fade > .image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.each__fade > .ahh {
  font-size: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  top: 150px;
}

/* Banner1 styles */

.Banner1__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  min-height: 20vh;
}

.Banner1__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* About Section Here */

.about__wrapper {
  padding: 0 2rem;
  min-height: 100vh;
  width: 100%;
  line-height: 35px;
}

.about__wrapper  h4 {
  text-align: center;
  padding-top: 5rem ;
  padding-bottom: 3rem;
  font-size: 2em;
  color: rgb(28, 28, 143);
}

.about__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.about__container h3 {
  color: rgb(28, 28, 143);
}

.about__item {
  max-width: 100%;
}

.about__item1  h3 {
  color: rgb(28, 28, 143);
}

.about__item1 {
  margin: auto;
  max-width: 50%;
}

.helo Image {
  border-radius: 50%;
  overflow: hidden;
}


/* Department Section Here */

.depart__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  min-height: 40vh;
}

.depart__items {
  max-width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.depart__item {
  border: none;
  padding: 30px;
  background-color: rgb(241, 235, 235);
  text-align: center;
}

/* Faq Section Here */

.faq__container {
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  min-height: 70vh;
}

.faq__item {
  background: whitesmoke;
  padding: 10px;
  max-width: 600px;
}

.faq__para {
  display: none;
}

.faq__para1 {
  display: block;
}

/* Services Section Here */

.service__container {
  background-color: whitesmoke;
}

.service__container > h2 {
  text-align: center;
  color: rgb(28, 28, 143);
  font-size: 2em;
  padding-top: 5rem ;
  padding-bottom: 3rem;
}

.service__container .service__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.service__container .service__items .service__item {
  max-width: 400px;
  /* border: 5px solid #ffffff; */
  /* text-align: center; */
  line-height: 40px;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
}

.service__container .service__items .service__item:hover {
  border: 2px solid rgb(28, 28, 143);
}

.service__container .service__items .service__item ul {
  list-style: none;
}

/* Footer Section Here */

.footer__wrapper {
  min-height: 30vh;
  background: whitesmoke;
  padding: 0 2rem;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.footer__wrapper .footer__container .footer__links ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.footer__wrapper .footer__container .footer__links ul li {
  width: 7rem;
}

.footer__container .footer__form input {
  padding: 0.4rem;
  border: none;
  outline: none;
}

.footer__container .footer__form button {
  padding: 0.4rem;
  border: none;
  outline: none;
  background-color: #fff;
}

.footer__last {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__last .footer__last_terms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.7rem;
}
.footer__last .footer__last_icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.7rem;
  font-size: 1.5rem;
}

/* Contact Section Here */

.contact__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
  background-image: url('/assets/contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.contact__wrapper .contact__container {
  max-width: 600px;
}

.contact__wrapper .contact__container input {
  padding: 0.7rem;
  border-radius: 7px;
  border: none;
  outline: none;
}

.contact__wrapper .contact__container input:first-child {
  width: 34rem;
}

.contact__wrapper .contact__container textarea {
  resize: none;
  border-radius: 7px;
  border: none;
  outline: none;
}

.contact__wrapper .contact__container button {
  padding: 0.5rem;
  border-radius: 40px;
  width: 10rem;
  outline: none;
  border: none;
  color: #fff;
  font-size: 0.9rem;
  background-color: rgb(28, 28, 143);
  margin-top: 0.5rem;
}

/* Top section Here */

.top {
  position: relative;
  height: 100%;
  width: 100%;
}

.top1 {
  position: absolute;
  top: 550px;
  right: 70px;
  z-index: 10;
  position: fixed;
  cursor: pointer;
}

/* Media Queries Here */

@media screen and (max-width: 650px) {
  .Banner1__container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .each__fade > .image__container {
    min-height: 24vh;
  }

  .each__fade > .image__container img {
    height: 25vh;
  }

  .each__fade > h2 {
    top: 78px;
    left: 30%;
    right: 50%;
    width: 100%;
  }
}
