.bio {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/assets/gif.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bi {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.helo {
  max-width: 400px;
}

.helo > image {
  object-fit: cover;
  overflow: hidden;
}

.faq__over {
 display: flex;
 align-items: center;
 justify-items: center;
 align-items: center;
 width: 100%;
}

.faq__container {
  min-height: 70vh;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
 gap: 2rem;
 border: 1px solid red;
 width: 100%;
}

.faq__item {
  background: #0067DA;
  color: #fff;
  padding: 10px;
  max-width: 600px;
  justify-items: center;
  text-align: center;
}

.faq__para {
  display: none;
  color: rgb(130, 129, 129);
}

.faq__para1 {
  display: block;
  color: rgb(130, 129, 129);
}

.faq__img {
  position: relative;
  height: 350px;
  width: 100%;
}



.top {
  position: relative;
  height: 100%;
  width: 100%;
}

.top1 {
  position: absolute;
  top: 520px;
  right: 70px;
  z-index: 10;
  position: fixed;
  cursor: pointer;
}

.he__container {
  background-color: #F6FAFE;
  min-height: 110vh;
  display: flex;
  justify-content: center;
}

.he__heading {
 text-align: center;
 padding-block: 4rem;
 line-height: 50px;
}

.he__img {
  position: relative;
}

.he__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 1rem;
}

.he__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-auto-rows: 350px; */
  gap: 2rem;
  position: relative;
}

.he__tags {
  background-color: blue;
  position: absolute;
  top: 50%;
  left: -10px;
  z-index: 20;
}

/* .biok {
  display: block;
  height: 100% !important;
  object-fit: cover;
  border: 5px dotted purple;
} */