
.bio{
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('/assets/gif.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.bi {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.helo {
  max-width: 400px;
}

.helo > image {
  object-fit: cover;
  overflow: hidden;
}


.faq__container {
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  min-height: 70vh;
}

.faq__item {
  background: whitesmoke;
  padding: 10px;
  max-width: 600px;
}

.faq__para {
  display: none;
}

.faq__para1 {
  display: block;
}

.top {
  position: relative;
  height: 100%;
  width: 100%;
}

.top1 {
  position: absolute;
  top: 520px;
  right: 70px;
  z-index: 10;
  position: fixed;
  cursor: pointer;
}